
.addBalanceModal {
  .modal-header {
    display: flex;
    justify-content: space-between;
    color: #6b7c93;
    border-bottom: 1px solid #f7f7f7;
    padding: 0 10px;;
  }
  .close-icon {
    padding: 18px 0;
    cursor: pointer;
  }
  .currency-item {
    .symbol {
      font-weight: bold;
      margin-right: 10px;
    }
    .name {
      color: #eee;
    }
  }
}